<table class="table table-dark table-striped" id="<%= dom_id friend %>">
  <tbody>
    <tr>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
    </tr>
  </tbody>
</table>
